<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-button ><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <!-- Get number of races being shown to display -->
  <span>Showing Next {{nextRaces.length}} Races </span>  
  <span class="example-spacer"></span>
  <button mat-button ><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-list class="app-class"> 
  <mat-list-item *ngFor="let nextRace of nextRaces">     
      
      <mat-list dense>
        <mat-list-item>
           <div class="event-name">
            {{nextRace.EventName}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="venue">
            {{nextRace.Venue.Venue}}
          </div>
        </mat-list-item>              
      </mat-list>  
        
        <span class="example-spacer"></span>
        <div class="start-time">
            {{nextRace.AdvertisedStartTime | date: 'hh.mm'}}
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
             
  </mat-list-item>
  <mat-divider></mat-divider>
 </mat-list>

<router-outlet></router-outlet>
